GITHUB_APP_ID=3847577
GITHUB_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=replace-me
PORT=8787

# Optional
GAUNTLETCI_COMMAND=gauntletci
GAUNTLETCI_SENSITIVITY=permissive
GAUNTLETCI_SEVERITY=info
GAUNTLETCI_AUTO_REVIEW_PULL_REQUESTS=false
GAUNTLETCI_WORK_DIR=.gauntletci-github-app-work
